<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10" 
    version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Vegan Göteborg</name>

    <description>
      Map of vegan/vego restaurants in Göteborg
    </description>

    <author href="https://kload.fr" email="kload+apps@kload.fr">
      kload
    </author>

    <access origin="http://cartocdn.com" subdomains="true" />
    <access origin="http://vegangoteborg.se" subdomains="true" />
</widget>

