<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10" 
    version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Vegamap Göteborg</name>

    <description>
      A map of vegetarian and vegan-friendly restaurants/cafés/bars
    </description>

    <author href="https://kload.fr" email="kload+vegamap@kload.fr">
      kload
    </author>

    <plugin name="cordova-plugin-whitelist" spec="1.2.0" />

    <platform name="ios" >
      <preference name="orientation" value="portrait" />
    </platform>

    <platform name="android" >
      <preference name="orientation" value="portrait" />
    </platform>

    <icon src="images/icons/logo.png" />

    <feature name="http://api.phonegap.com/1.0/network" />
    <feature name="http://api.phonegap.com/1.0/geolocation" />

    <allow-navigation href="*://*.cartocdn.com/*" />
    <allow-navigation href="*://*.vegangoteborg.se/*" />
    <allow-navigation href="*://*.vegamap.org/*" />
    <access origin="http://*.cartocdn.com" />
    <access origin="http://*.vegangoteborg.se" />
    <access origin="https://*.vegamap.org" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="geo:*" />
</widget>

